click==6.7
Flask==0.12.2
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
-e git+https://github.com/dovekie/shortening.git@0353e820bfaf810d61d2b6eb07c4834a5610e7bb#egg=shortening
Werkzeug==0.12.2
